<footer>
    <p class="footerIntro">
        <strong>
            Une stratégie online n’est pas à négliger et notamment pour les secteurs d’activité qui enregistrent une forte demande sur internet.
        </strong> 
    </p>
	<section id="contactInfos">
        <h4 class="titleContact">Contact</h4>
        <article id="contact">
            <h4>Contact</h4>
                <ul >
                    <li>
                        Thomas ORTA 06.12.14.92.55
                    </li>
                    <li>
                        <a href="index.php?objet=contact">
                            Formulaire de contact
                        </a>
                    </li>
                    <li>
                        Email: thom.orta@gmail.com
                    </li>
                    <li>
                        Facebook (à venir..)
                    </li>
                    <li>
                        SIRET: 888 067 550 00010
                    </li>
                    <li>
                        APE: 6201Z
                    </li>
                </ul>
        </article>
        <article id="moreInfos">
            <h4>Informations pratiques</h4>
            <ul >
                <li>
                    <a href="/mentions-legales">
                        Mentions légales
                    </a> 
                </li>
                <li>
                    <a href="/protection-des-donnees">
                        Protection des données
                    </a>
                </li>
            </ul>
        </article>
    </section>
	<section id="infosFooter">
        <h2>Thomas ORTA</h2>
		<p id="webCreator">
            © 2020 Thomas ORTA
        </p>
    </section>
</footer>