{% extends 'base.html.twig' %}

{% block title %}Contact — Thomas Orta
{% endblock %}

{% block content %}
	<h1 style="margin:0 0 12px;">Contact</h1>

	<p style="margin:0; opacity:.8;">
		Utilisez ce formulaire pour me contacter. (On mettra le vrai formulaire Symfony juste après.)
	</p>
{% endblock %}
