<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}Thomas Orta
			{% endblock %}
		</title>

		<link rel="icon" href="data:,"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	<body id="top">
		<div class="container">
			{% include '_partials/_header.html.twig' %}

			<main>
				{% block content %}{% endblock %}
			</main>

			{% include '_partials/_footer.html.twig' %}
		</div>
	</body>
</html>
